body{
  background: #f6f0ff;
}

header{
 background: #7327ad;
 height: 100px;
 width: 100%;
}

aside{
  background: #59128c;
  min-height: 150px;
  width: 15%;
  float: left;
}

section{
  background: #d8b5f2;
  min-height: 150px;
  width: 70%;
  float: left;
  font-family: Arial, Helvetica, sans-serif;

}

footer{
  background: #7327ad;
  height: 50px;
  width: 100%;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  
}

p{
  color: black;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

nav{
  clear: both;
  height:  50px;
  width: 100%;
}

nav ul{
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background: #333;
} 

nav li{
  float: left;
  font-family: Arial, Helvetica, sans-serif;
}

nav li a{
display: block;
color: rgb(255, 255, 255);
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-family: Tahoma;
}

nav li a:hover:not(.active){
 background: #000000;
 }

 .active{
   background: #c852e6;
 }

 img{
    
   margin: 5px;
   height: 100px;
   width: 100px;
 }
