body{
  background-color:#ead4fa;
  background-attachment: fixed;
  background-size: cover;
}

header{
 background: #7327ad;
 height: 100px;
 width: 100%;
}

aside{
  background: #59128c;
  min-height: 150px;
  width: 15%;
  float: left;
}

section{
  background: #d8b5f2;
  min-height: 150px;
  width: 100%;
  float: left;
  font-family: Helvetica;
}

footer{
  background: #7327ad;
  height: 50px;
  width: 100%;
  font-family: Helvetica;
  color: #ffffff;
}

h1{
  color: black;
  font-family: Helvetica, Arial, sans-serif; 
  text-align: center;
}

h2{
  color: black;
  font-family: Helvetica, Arial, sans-serif;  
  text-align: center;
}

h3{
  color: black;
  font-family: Helvetica, Arial, sans-serif;  
  text-align: center;
}

p{
  color: black;
  padding: 5px;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}
.foot{
  color:white;
     }

nav{
  clear: both;
  height:  50px;
  width: 100%;
}

nav ul{
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background: #333;
} 

nav li{
  float: left;
  font-family: Helvetica, Arial, sans-serif;
}

nav li a{
display: block;
color: rgb(255, 255, 255);
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-family: Helvetica, Arial, sans-serif;
}

nav li a:hover:not(.active){
 background: #000000;
 }

 .active{
   background: #c852e6;
 }

 img{ 
   margin: 5px;
 }

.aboutwisp{
  background-image: url("jwstcliffs.jpeg");
  height: 90%;
  padding-top: 250px;
  background-repeat: no-repeat;
  color: #ffffff;
}

.aboutus{
  background-image: url("jwstphantom.jpeg");
  height: 80%;
  padding-top: 150px;
  background-repeat: no-repeat;
  color: #ffffff;
}
a:link {
  color:#ffffff;
  background-color: transparent;
  text-decoration: none;
}

a:visited{
  color:#ffffff;
  background-color: transparent;
}

a:hover {
  color: #c84fe5;
  background-color: transparent;
  text-decoration: underline;
}

.ellie{
  background-color: #968ede;
}
  
